/* Tipos y variables */

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;600;700&family=Inter:wght@300;400;600;800&family=Sora:wght@400;600;700&display=swap");

:root{
  /* Base */
  --bg-body: #ffffff;        /* fondo blanco */
  --fg-body: #222222;        /* texto principal gris oscuro */
  --muted: #666666;          /* texto secundario gris medio */

  /* Navbar */
  --bg-nav: #111111;         /* navbar negra */
  --fg-nav: #ffffff;         /* texto de navbar blanco */
  --navbar-height: 8rem; /* altura de la navbar en rem */

  /* Acentos */
  --accent: #000000;         /* negro puro como acento (botones, títulos) */
  --accent-alt: #444444;     /* gris oscuro alternativo */

  /* Extras */
  --radius: 20px;
  --shadow: 0 10px 30px rgba(0,0,0,.15);

  /* Tipografías */
  --font-base: "Caveat", cursive;
  --font-title: var(--font-base);

  /*Animaciones */
   --fx-dur: 2s;            /* ⬅️ súbelo para ir más lento (p.ej. 1.8s, 2s) */
  --fx-ease: cubic-bezier(.16,1,.3,1); /* easing suave tipo ease-out */
  --fx-delay-title: .10s;    /* retardo opcional del título */
  --fx-delay-sub:   .10s;    /* retardo opcional del subtítulo */
}


/* Reset base mínimo */
*{ box-sizing: border-box; }
html{ font-size: 62.5%; }
body{
  margin: 0;
  font-family: var(--font-base);
  color: var(--fg-body);
  background: var(--bg-body);
}

